In [1]:
import sys
import pandas as pd

sys.path.insert(1, '..')
import src.constants as cst
import src.preprocessing as prep

# Load data

In [2]:
train = pd.read_csv(cst.RAW_NB_TRAIN_PATH, index_col=0, low_memory=False)
test = pd.read_csv(cst.RAW_NB_TEST_PATH, index_col=0)

# Data exploration

In [3]:
train.head(2)

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,lon,lat,code_IRIS,code_district_admin,code_district_custom,Valeur fonciere
index,,,,,,,,,,,,,,,,,,,,,
249338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1256,Vente,...,3.0,NaN,NaN,NaN,2.253080,48.837201,751166131.0,61.0,Auteuil Sud,"650000,00"
249339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1263,Vente,...,3.0,NaN,NaN,NaN,2.252551,48.837822,751166131.0,61.0,Auteuil Sud,"503029,00"

In [4]:
test.head(2)

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,lon,lat,code_IRIS,code_district_admin,code_district_custom
index,,,,,,,,,,,,,,,,,,,,,
249349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1530,Vente,...,78.0,4.0,NaN,NaN,NaN,2.252551,48.837822,751166131.0,61.0,Auteuil Sud
249400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1532,Vente,...,34.0,1.0,NaN,NaN,NaN,2.282171,48.831289,751155732.0,57.0,Vaugirard-Parc des Expositions

# Dataset cleaning

In [5]:
prepared_train = prep.prepare_housing_data(train, is_train=True)
prepared_test = prep.prepare_housing_data(test, is_train=False)

print(prepared_train.shape, prepared_test.shape)

(18631, 15) (1391, 14)

In [8]:
preprocessed_train = prep.preprocess_housing_data(prepared_train, is_train=True)
preprocessed_test = prep.preprocess_housing_data(prepared_test, is_train=False)

In [7]:
preprocessed_train.to_csv(cst.PREPROCESSED_NB_TRAIN_PATH, index=True)
preprocessed_test.to_csv(cst.PREPROCESSED_NB_TEST_PATH, index=True)